/Resources
/obj
/'My Project'
/My Project
/bin
Settings.settings
Shockwave_POS.sln
Shockwave_POS.suo
Shockwave_POS.vbproj
Shockwave_POS.vbproj.user
dsDataset.xsc
dsDataset.xsd
dsDataset.xss
dsPOS.xsc
dsPOS.xsd
dsPOS.xss
Eazy_POS_TemporaryKey.pfx
/.vs
